# Python

1.Write a program using list comprehension to find primes 
in range 2 to 100.

In [1]:
value=101
prime_numbers=[i for i in range(2,101) if all(i % y != 0 for y in range(2, i))]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

2.Write a function to reverse a string

string='reverse a string'

In [2]:
string='reverse a string'

In [3]:
string[::-1]

'gnirts a esrever'

3.Write a program to extract the words from the given list which have their first character in uppercase. Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']
Output: ['Monday', 'Sunday', 'Saturday'

In [4]:
Days= ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']
first_character_in_uppercase=[letter for letter in Days if letter[0].isupper()]

In [6]:
print(first_character_in_uppercase)

['Monday', 'Sunday', 'Saturday']

4.Write a program to extract the year part from the dates in 
the given list.

Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']

Output: ['1997','2011','1993','2020']

In [1]:
Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']
years=[date.split('-')[2] for date in Batch]

In [2]:
print(years)

['1997', '2011', '1993', '2020']

5.Write a program swap the keys to values and values to keys of the given dictionary. 

Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4} 

Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}

In [2]:
Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4}

In [5]:
swap_Module={value:key for key,value in Module.items()}

In [6]:
print(swap_Module)

{1: 'Data Science', 2: 'Machine Learning', 3: 'SQL', 4: 'Big Data'}

6.Write a program to count the number of elements in the string (given by the user) that are not present in the 'my_string'. 

Do not count the white spaces.

my_string = 'Data Science'

In [13]:
my_string = 'Data Science'

In [14]:
users_string=input("enter string:")
count=0

enter string:akshay

In [15]:
for element in users_string:
    if element != ' ' and element not in my_string:
        count+=1
print("number of element not in 'my_string':",count)

number of element not in 'my_string': 4

7.Define a function to check whether a number is in a range (1000,10000) or not.

In [23]:
def in_range(number):
    
    if number in range(1000,10000):
        print(number,"is in a range")
    else:
        print(number,"is not in a range")

In [24]:
in_range(55)
print(in_range)

55 is not in a range
<function in_range at 0x0000020F019C0AF0>

8.Write a program to calculate the sum of all elements in the list.

test_score = [10, 32, 23, 14, 25]

In [25]:
test_score = [10, 32, 23, 14, 25]

In [26]:
sum_ofall=sum(test_score)

In [27]:
print(sum_ofall)

104

9.Replace all even numbers in the array with -1.

Use the array given below num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])

In [28]:
import numpy as np

In [29]:
num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])

In [31]:
num_array[num_array % 2==0]=-1
print(num_array)

[-1 21 -1 13 -1 45 -1 -1 -1 -1 65 -1 -1]

10.Find the minimum value along each of the rows. 

Create a 2D Numpy array from list of lists 

Score = np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])

In [32]:
import numpy as np
Score = np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])

In [35]:
min_value=np.min(Score,axis=1)

In [36]:
print(min_value)

[210 106 125 240]